backend/src/main/resources/servicekey.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build


#ignore env file
/backend/src/main/resources/credentials.json
