@font-face {
    font-family: "Light";
    src: local("PlayfairDisplay-VariableFont_wght"), url("/src/css/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Text";
    src: local("Asar-Regular"), url("/src/css/fonts/Asar-Regular.ttf") format("truetype");
}

.pageBackground {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    font-family: "PLayfair Display", "Light", "Serif";
    /*font-size: calc(10px + 2vmin);*/
    /*color: white;*/
}

.module {
    display: flex;
    padding: 50px;
    min-width: 600px;
    max-width: 600px;
    max-height: 70vh;
    min-height: 70vh;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
}

.pageContainer {
    display: flex;
    flex: .95;
}

.upcomingTasks {
    display: flex;
    background-color: rgba(239, 239, 239, 49);
    flex: .15;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Text;
    font-size: 20px;
    color: #181818;
}

.tasksPage {
    display: flex;
    flex-direction: column;
    flex: .9;
    font-family: Text;
    color: black;
    padding: 30px;
}

.tasksContainer {
    display: flex;
    flex: .6;
    /*padding: ;*/
    margin-top: 18px;
    /*background-color: green;*/
}
